In [1]:
import pandas as pd

To begin, we read the Excel file to see all the sheets that are in our file and identify which would be relevant to answer the business questions.

In [74]:
# Print all sheet names
all_sheets = pd.ExcelFile('data/business-demographics.xlsx')
print(all_sheets.sheet_names)

['Metadata', 'Regional Enterprise Indices', 'Enterprise births by year', 'Enterprise deaths by year', 'Active Enterprises by year', '2002 Survival Rates', '2003 Survival Rates', '2004 Survival Rates', '2005 Survival Rates', '2006 Survival Rates', '2007 Survival Rates', '2008 Survival Rates', '2009 Survival Rates', '2010 Survival Rates', '2011 Survival Rates', '2012 Survival Rates', '2013 Survival Rates', '2014 Survival Rates', '2015 Survival Rates', '2016 Survival Rates', '2017 Survival Rates', '2018 Survival Rates']

To answer our first business question we have to analyse past survival rates of businesses to find the borough in London with the highest 5-year survival rate. Thus, we will first analyse the sheets with the survival rates of businesses.

In [30]:
# Read the sheets on survival rates in a dictionary
survivalrates = {}
    
for i in range(2002, 2019):
    survivalrates[str(i)] = pd.read_excel('data/business-demographics.xlsx', sheet_name= str(i) + ' Survival Rates')

# Print 2002 Survival Rates
print(survivalrates['2002'].head(5))

# Print the number of rows and columns in the dataframe
print(survivalrates['2002'].shape)

  Unnamed: 0            Unnamed: 1 Unnamed: 2 1 Year Survival Unnamed: 4  \
0       Code                  Area     Births         Numbers   Per cent
1        NaN                   NaN        NaN             NaN        NaN
2  E09000001        City of London       1145            1025    89.5197
3  E09000002  Barking and Dagenham        435             410    94.2529
4  E09000003                Barnet       2330            2185    93.7768

  2 Year Survival Unnamed: 6 3 Year Survival Unnamed: 8 4 Year Survival  \
0         Numbers   Per cent         Numbers   Per cent         Numbers
1             NaN        NaN             NaN        NaN             NaN
2             915    79.9127             760    66.3755             660
3             335    77.0115             250    57.4713             205
4            1805    77.4678            1290    55.3648            1030

  Unnamed: 10 5 Year Survival Unnamed: 12
0    Per cent         Numbers    Per cent
1         NaN             NaN         NaN
2     57.6419             600     52.4017
3     47.1264             175     40.2299
4      44.206             855     36.6953
(57, 13)

At first glance, we identify several problems with the dataset and we can assume that these problems exist in all other sheets on survival rates.  

Firstly, the column names are mostly unnamed, so we know the first row of the dataset contains empty values. Thus we should re-read the Excel file and skip the first row.

In [4]:
for i in range(2002, 2019):
    survivalrates[str(i)] = pd.read_excel('data/business-demographics.xlsx', sheet_name= str(i) + ' Survival Rates', skiprows=1)

# Print 2002 Survival Rates
print(survivalrates['2002'].head(5))

        Code                  Area  Births  Numbers   Per cent  Numbers.1  \
0        NaN                   NaN     NaN      NaN        NaN        NaN
1  E09000001        City of London  1145.0   1025.0  89.519651      915.0
2  E09000002  Barking and Dagenham   435.0    410.0  94.252874      335.0
3  E09000003                Barnet  2330.0   2185.0  93.776824     1805.0
4  E09000004                Bexley   765.0    710.0  92.810458      595.0

   Per cent.1  Numbers.2  Per cent.2  Numbers.3  Per cent.3  Numbers.4  \
0         NaN        NaN         NaN        NaN         NaN        NaN
1   79.912664      760.0   66.375546      660.0   57.641921      600.0
2   77.011494      250.0   57.471264      205.0   47.126437      175.0
3   77.467811     1290.0   55.364807     1030.0   44.206009      855.0
4   77.777778      470.0   61.437908      385.0   50.326797      325.0

   Per cent.4
0         NaN
1   52.401747
2   40.229885
3   36.695279
4   42.483660

Secondly, we can drop the columns that represent the survival rates in numbers as the percentage of businesses contains sufficient information about the survival rates for each borough. We can also drop the 'Births' column.

In [5]:
# Removing 'Births' and the columns with survival rates in numbers 
for i in range(2002, 2019):
    survivalrates[str(i)].drop(survivalrates[str(i)].columns[[2, 3, 5, 7, 9, 11]], axis=1, inplace=True)

# Print 2002 Survival Rates
print(survivalrates['2002'].head(5))

        Code                  Area   Per cent  Per cent.1  Per cent.2  \
0        NaN                   NaN        NaN         NaN         NaN
1  E09000001        City of London  89.519651   79.912664   66.375546
2  E09000002  Barking and Dagenham  94.252874   77.011494   57.471264
3  E09000003                Barnet  93.776824   77.467811   55.364807
4  E09000004                Bexley  92.810458   77.777778   61.437908

   Per cent.3  Per cent.4
0         NaN         NaN
1   57.641921   52.401747
2   47.126437   40.229885
3   44.206009   36.695279
4   50.326797   42.483660

Secondly, we can also rename the column names as we know from viewing the dataframe previously that the 'Per cent' columns are the survival rates in percentage for 1, 2, 3, 4 and 5 years in that order.

In [6]:
# Rename columns
for i in range(2002, 2019):
    survivalrates[str(i)].rename(columns={'Per cent': '1 Year Survival in %', 'Per cent.1': '2 Year Survival in %', 'Per cent.2': '3 Year Survival in %','Per cent.3': '4 Year Survival in %','Per cent.4': '5 Year Survival in %',}, inplace=True)
    

print(survivalrates['2002'].head(5))

        Code                  Area  1 Year Survival in %  \
0        NaN                   NaN                   NaN
1  E09000001        City of London             89.519651
2  E09000002  Barking and Dagenham             94.252874
3  E09000003                Barnet             93.776824
4  E09000004                Bexley             92.810458

   2 Year Survival in %  3 Year Survival in %  4 Year Survival in %  \
0                   NaN                   NaN                   NaN
1             79.912664             66.375546             57.641921
2             77.011494             57.471264             47.126437
3             77.467811             55.364807             44.206009
4             77.777778             61.437908             50.326797

   5 Year Survival in %
0                   NaN
1             52.401747
2             40.229885
3             36.695279
4             42.483660

Thirdly, we observe that there is an empty row at the start of the data, so we want to test if there are any other empty rows or cells in the dataset.

In [7]:
# Check for missing values
print(survivalrates['2002'].isnull().sum())
print(survivalrates['2002'].isna().sum())

missing_rows_na = survivalrates['2002'][survivalrates['2002'].isna().any(axis=1)]
print(missing_rows_na)

Code                    5
Area                    5
1 Year Survival in %    5
2 Year Survival in %    5
3 Year Survival in %    5
4 Year Survival in %    5
5 Year Survival in %    5
dtype: int64
Code                    5
Area                    5
1 Year Survival in %    5
2 Year Survival in %    5
3 Year Survival in %    5
4 Year Survival in %    5
5 Year Survival in %    5
dtype: int64
   Code Area  1 Year Survival in %  2 Year Survival in %  \
0   NaN  NaN                   NaN                   NaN
34  NaN  NaN                   NaN                   NaN
37  NaN  NaN                   NaN                   NaN
47  NaN  NaN                   NaN                   NaN
52  NaN  NaN                   NaN                   NaN

    3 Year Survival in %  4 Year Survival in %  5 Year Survival in %
0                    NaN                   NaN                   NaN
34                   NaN                   NaN                   NaN
37                   NaN                   NaN                   NaN
47                   NaN                   NaN                   NaN
52                   NaN                   NaN                   NaN

We observe that rows 0, 34, 37, 47 and 52 are empty, so we can drop these rows. To better understand the data and why there are empty rows, we can view all the data.

In [12]:
# Print the whole sheet
print(survivalrates['2002'])

         Code                       Area  1 Year Survival in %  \
0         NaN                        NaN                   NaN
1   E09000001             City of London             89.519651
2   E09000002       Barking and Dagenham             94.252874
3   E09000003                     Barnet             93.776824
4   E09000004                     Bexley             92.810458
5   E09000005                      Brent             93.577982
6   E09000006                    Bromley             93.359375
7   E09000007                     Camden             93.023256
8   E09000008                    Croydon             93.189964
9   E09000009                     Ealing             93.802817
10  E09000010                    Enfield             92.307692
11  E09000011                  Greenwich             93.506494
12  E09000012                    Hackney             92.857143
13  E09000013     Hammersmith and Fulham             93.078759
14  E09000014                   Haringey             93.220339
15  E09000015                     Harrow             92.975207
16  E09000016                   Havering             93.023256
17  E09000017                 Hillingdon             91.121495
18  E09000018                   Hounslow             93.273543
19  E09000019                  Islington             92.615385
20  E09000020     Kensington and Chelsea             92.526690
21  E09000021       Kingston upon Thames             92.993631
22  E09000022                    Lambeth             93.992933
23  E09000023                   Lewisham             92.307692
24  E09000024                     Merton             92.982456
25  E09000025                     Newham             93.292683
26  E09000026                  Redbridge             91.509434
27  E09000027       Richmond upon Thames             93.181818
28  E09000028                  Southwark             92.642140
29  E09000029                     Sutton             93.571429
30  E09000030              Tower Hamlets             92.708333
31  E09000031             Waltham Forest             93.877551
32  E09000032                 Wandsworth             93.627451
33  E09000033                Westminster             91.179118
34        NaN                        NaN                   NaN
35  E13000001               Inner London             92.450569
36  E13000002               Outer London             93.140629
37        NaN                        NaN                   NaN
38  E12000001                North East              93.610698
39  E12000002                North West              92.670051
40  E12000003  Yorkshire And The Humber              93.529583
41  E12000004             East Midlands              93.288591
42  E12000005             West Midlands              92.084500
43  E12000006                      East              93.333333
44  E12000007                    London              92.771728
45  E12000008                South East              93.082746
46  E12000009                South West              92.285714
47        NaN                        NaN                   NaN
48  E92000001                    England             92.895006
49  W92000004                      Wales             91.360089
50  S92000003                   Scotland             93.758815
51  N92000002           Northern Ireland             94.219653
52        NaN                        NaN                   NaN
53  K04000001          England And Wales             92.833549
54  K03000001              Great Britain             92.888628
55  K02000001             United Kingdom             92.912363

    2 Year Survival in %  3 Year Survival in %  4 Year Survival in %  \
0                    NaN                   NaN                   NaN
1              79.912664             66.375546             57.641921
2              77.011494             57.471264             47.126437
3              77.467811             55.364807             44.206009
4              77.777778             61.437908             50.326797
5              69.418960             49.541284             38.226300
6              80.078125             64.453125             51.953125
7              76.162791             57.558140             46.899225
8              77.419355             57.706093             46.953405
9              74.647887             57.464789             46.760563
10             77.350427             58.547009             47.863248
11             76.623377             58.441558             45.454545
12             77.443609             57.894737             45.864662
13             63.723150             44.868735             34.606205
14             73.305085             53.389831             41.525424
15             80.578512             61.157025             50.000000
16             79.651163             62.209302             50.581395
17             78.037383             58.411215             49.065421
18             75.784753             56.502242             46.636771
19             76.000000             57.538462             46.461538
20             77.935943             61.565836             51.245552
21             80.891720             61.783439             49.681529
22             72.791519             54.770318             44.876325
23             73.076923             54.945055             42.857143
24             71.929825             52.631579             39.035088
25             73.170732             52.439024             39.634146
26             77.358491             54.716981             44.811321
27             79.924242             65.909091             53.787879
28             75.919732             58.193980             46.488294
29             81.428571             64.285714             50.714286
30             74.652778             54.861111             43.750000
31             73.469388             51.020408             38.775510
32             67.401961             49.754902             38.725490
33             76.507651             58.595860             46.444644
34                   NaN                   NaN                   NaN
35             74.176153             56.001598             44.797284
36             76.875430             57.903189             46.547373
37                   NaN                   NaN                   NaN
38             78.306092             62.035661             51.485884
39             79.329949             62.619289             51.736041
40             79.481201             63.975517             53.220635
41             80.628432             64.185479             53.325198
42             79.155001             63.196742             52.939679
43             80.410256             64.738462             54.523077
44             75.432415             56.886611             45.611787
45             81.728008             66.079353             53.628295
46             80.119048             65.023810             54.642857
47                   NaN                   NaN                   NaN
48             79.170929             62.724356             51.680926
49             77.703456             62.318841             51.616499
50             80.324401             63.610719             52.644570
51             83.236994             69.248555             61.618497
52                   NaN                   NaN                   NaN
53             79.112172             62.708119             51.678347
54             79.184333             62.761849             51.735863
55             79.256602             62.877523             51.912095

    5 Year Survival in %
0                    NaN
1              52.401747
2              40.229885
3              36.695279
4              42.483660
5              32.110092
6              44.140625
7              40.503876
8              40.143369
9              40.845070
10             39.743590
11             37.012987
12             39.849624
13             28.639618
14             35.593220
15             42.975207
16             43.023256
17             40.186916
18             39.461883
19             40.000000
20             43.772242
21             43.312102
22             37.809187
23             35.714286
24             33.333333
25             32.317073
26             37.735849
27             44.696970
28             40.133779
29             41.428571
30             36.111111
31             32.142857
32             32.352941
33             39.603960
34                   NaN
35             38.206511
36             39.252122
37                   NaN
38             44.427935
39             44.771574
40             45.759254
41             46.400244
42             45.940443
43             47.302564
44             38.693145
45             46.632733
46             47.595238
47                   NaN
48             44.641030
49             44.816054
50             45.627645
51             55.491329
52                   NaN
53             44.648038
54             44.706352
55             44.898674

After row 33, the data is on different regions in London. As this information is already contained in the above rows which details the survival rates in different boroughs of London, we can remove the rows below 33.

In [16]:
# Remove rows with irrelevant information
for i in range(2002, 2019):
    survivalrates[str(i)] = survivalrates[str(i)].iloc[1:34]

# Print 2002 Survival Rates
print(survivalrates['2002'])

         Code                    Area  1 Year Survival in %  \
2   E09000002    Barking and Dagenham             93.092105
3   E09000003                  Barnet             84.405941
4   E09000004                  Bexley             92.692308
5   E09000005                   Brent             89.428076
6   E09000006                 Bromley             91.216216
7   E09000007                  Camden             84.297521
8   E09000008                 Croydon             90.485830
9   E09000009                  Ealing             91.878173
10  E09000010                 Enfield             88.583510
11  E09000011               Greenwich             91.869919
12  E09000012                 Hackney             88.074398
13  E09000013  Hammersmith and Fulham             87.185355
14  E09000014                Haringey             89.624724
15  E09000015                  Harrow             87.234043
16  E09000016                Havering             90.967742
17  E09000017              Hillingdon             90.889371
18  E09000018                Hounslow             91.846523
19  E09000019               Islington             87.441315
20  E09000020  Kensington and Chelsea             84.848485
21  E09000021    Kingston upon Thames             92.280702
22  E09000022                 Lambeth             90.546218
23  E09000023                Lewisham             93.131868
24  E09000024                  Merton             91.040462
25  E09000025                  Newham             91.681109
26  E09000026               Redbridge             89.051095
27  E09000027    Richmond upon Thames             91.988950
28  E09000028               Southwark             87.108656
29  E09000029                  Sutton             92.561983
30  E09000030           Tower Hamlets             86.455331
31  E09000031          Waltham Forest             91.313559
32  E09000032              Wandsworth             92.020374
33  E09000033             Westminster             76.211699

   2 Year Survival in % 3 Year Survival in % 4 Year Survival in %  \
2                     :                    :                    :
3                     :                    :                    :
4                     :                    :                    :
5                     :                    :                    :
6                     :                    :                    :
7                     :                    :                    :
8                     :                    :                    :
9                     :                    :                    :
10                    :                    :                    :
11                    :                    :                    :
12                    :                    :                    :
13                    :                    :                    :
14                    :                    :                    :
15                    :                    :                    :
16                    :                    :                    :
17                    :                    :                    :
18                    :                    :                    :
19                    :                    :                    :
20                    :                    :                    :
21                    :                    :                    :
22                    :                    :                    :
23                    :                    :                    :
24                    :                    :                    :
25                    :                    :                    :
26                    :                    :                    :
27                    :                    :                    :
28                    :                    :                    :
29                    :                    :                    :
30                    :                    :                    :
31                    :                    :                    :
32                    :                    :                    :
33                    :                    :                    :

   5 Year Survival in %
2                     :
3                     :
4                     :
5                     :
6                     :
7                     :
8                     :
9                     :
10                    :
11                    :
12                    :
13                    :
14                    :
15                    :
16                    :
17                    :
18                    :
19                    :
20                    :
21                    :
22                    :
23                    :
24                    :
25                    :
26                    :
27                    :
28                    :
29                    :
30                    :
31                    :
32                    :
33                    :

Logically, as we know that the data in this dataset only goes up to 2019, we know that later years would not have all the data for survival rates for surviving more than a year. We need to check the other sheets as well.

In [17]:
print(survivalrates['2018'].head(5))

        Code                  Area  1 Year Survival in % 2 Year Survival in %  \
2  E09000002  Barking and Dagenham             93.092105                    :
3  E09000003                Barnet             84.405941                    :
4  E09000004                Bexley             92.692308                    :
5  E09000005                 Brent             89.428076                    :
6  E09000006               Bromley             91.216216                    :

  3 Year Survival in % 4 Year Survival in % 5 Year Survival in %
2                    :                    :                    :
3                    :                    :                    :
4                    :                    :                    :
5                    :                    :                    :
6                    :                    :                    :

This means we need to remove the columns with ':'.

In [26]:
# Remove columns that contain ':'
for i in range(2002, 2019):
    survivalrates[str(i)].drop(columns = survivalrates[str(i)].columns[(survivalrates[str(i)] == ':').any()], inplace = True)

print(survivalrates['2014'].head(5))

        Code                  Area  1 Year Survival in %  \
2  E09000002  Barking and Dagenham             92.748092
3  E09000003                Barnet             88.080301
4  E09000004                Bexley             93.814433
5  E09000005                 Brent             93.230174
6  E09000006               Bromley             93.150685

   2 Year Survival in %  3 Year Survival in %  4 Year Survival in %  \
2             74.045802             58.778626             45.038168
3             70.514429             57.590966             46.675031
4             78.694158             65.292096             51.202749
5             74.661509             59.187621             48.355899
6             78.082192             64.155251             52.054795

   5 Year Survival in %
2             37.022901
3             39.899624
4             41.580756
5             41.005803
6             44.977169

As we are dealing with a lot of numbers, it is also important to check if the data type of each column are stored as numbers and not as strings.

In [27]:
# Checking the data type of each 
print(survivalrates['2002'].info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 2 to 33
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Code                  32 non-null     object
 1   Area                  32 non-null     object
 2   1 Year Survival in %  32 non-null     float64
 3   2 Year Survival in %  32 non-null     float64
 4   3 Year Survival in %  32 non-null     float64
 5   4 Year Survival in %  32 non-null     float64
 6   5 Year Survival in %  32 non-null     float64
dtypes: float64(5), object(2)
memory usage: 1.9+ KB
None

Another sheet in the Excel file that would be relevant to answering the business question is 'Active Enterprises by year'.

In [54]:
activeenterprises = pd.read_excel('data/business-demographics.xlsx', sheet_name= 'Active Enterprises by year')

print(activeenterprises)

         Code                      Area       2002       2003       2004  \
0         NaN                       NaN        NaN        NaN        NaN
1   E09000001            City of London    12715.0    12150.0    11980.0
2   E09000002      Barking and Dagenham     3435.0     3470.0     3120.0
3   E09000003                    Barnet    17705.0    17525.0    19655.0
4   E09000004                    Bexley     6455.0     6530.0     6450.0
5   E09000005                     Brent    11670.0    11800.0    11295.0
6   E09000006                   Bromley    11475.0    11585.0    11655.0
7   E09000007                    Camden    23660.0    22825.0    22910.0
8   E09000008                   Croydon    11540.0    11455.0    11230.0
9   E09000009                    Ealing    13070.0    13575.0    12830.0
10  E09000010                   Enfield     9000.0     9085.0     9305.0
11  E09000011                 Greenwich     5540.0     5605.0     5605.0
12  E09000012                   Hackney     9510.0     9630.0     9285.0
13  E09000013    Hammersmith and Fulham    11875.0    11590.0    10745.0
14  E09000014                  Haringey     8775.0     8845.0     8435.0
15  E09000015                    Harrow     9485.0     9465.0     9965.0
16  E09000016                  Havering     7390.0     7400.0     7570.0
17  E09000017                Hillingdon     9160.0     9265.0     9170.0
18  E09000018                  Hounslow     9050.0     9070.0     8645.0
19  E09000019                 Islington    13590.0    13275.0    12625.0
20  E09000020    Kensington and Chelsea    12880.0    12840.0    11675.0
21  E09000021      Kingston upon Thames     6820.0     6670.0     6680.0
22  E09000022                   Lambeth     9450.0     9855.0     9555.0
23  E09000023                  Lewisham     6420.0     6425.0     6230.0
24  E09000024                    Merton     7865.0     8070.0     7765.0
25  E09000025                    Newham     5535.0     5640.0     5160.0
26  E09000026                 Redbridge     7845.0     7815.0     8115.0
27  E09000027      Richmond upon Thames    11015.0    11180.0    10855.0
28  E09000028                 Southwark    10535.0    10970.0    10730.0
29  E09000029                    Sutton     6440.0     6455.0     6485.0
30  E09000030             Tower Hamlets     9935.0    10120.0     9590.0
31  E09000031            Waltham Forest     6600.0     6745.0     6805.0
32  E09000032                Wandsworth    13525.0    14060.0    13255.0
33  E09000033               Westminster    46070.0    45145.0    43410.0
34        NaN                       NaN        NaN        NaN        NaN
35  E13000001              Inner London   194475.0   193370.0   185585.0
36  E13000002              Outer London   171560.0   172765.0   173200.0
37        NaN                       NaN        NaN        NaN        NaN
38  E12000001                North East    54675.0    56640.0    56855.0
39  E12000002                North West   210545.0   210500.0   214085.0
40  E12000003  Yorkshire And The Humber   148830.0   153925.0   156930.0
41  E12000004             East Midlands   140725.0   144405.0   147345.0
42  E12000005             West Midlands   172525.0   176705.0   180380.0
43  E12000006                      East   213985.0   216955.0   220265.0
44  E12000007                    London   366035.0   366135.0   358785.0
45  E12000008                South East   342670.0   347310.0   353770.0
46  E12000009                South West   187375.0   191875.0   196850.0
47        NaN                       NaN        NaN        NaN        NaN
48  E92000001                   England  1837365.0  1864450.0  1885265.0
49  W92000004                     Wales    81175.0    83970.0    86210.0
50  S92000003                  Scotland   134040.0   135270.0   135255.0
51  N92000002          Northern Ireland    48935.0    49500.0    51825.0
52        NaN                       NaN        NaN        NaN        NaN
53  K04000001         England And Wales  1918540.0  1948420.0  1971475.0
54  K03000001             Great Britain  2052580.0  2083690.0  2106730.0
55  K02000001            United Kingdom  2101515.0  2133190.0  2158555.0

         2005       2006       2007       2008       2009       2010  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1     11970.0    12240.0    12615.0    13800.0    14895.0    15830.0
2      3190.0     3280.0     3455.0     3740.0     3895.0     4190.0
3     19095.0    18565.0    18555.0    19360.0    19920.0    20665.0
4      6560.0     6710.0     6835.0     6920.0     6900.0     7165.0
5     11250.0    11330.0    11750.0    12245.0    12475.0    12595.0
6     11755.0    11960.0    12430.0    12790.0    12880.0    12965.0
7     22675.0    22750.0    23335.0    24375.0    25175.0    25380.0
8     11130.0    11385.0    11715.0    11930.0    12090.0    12560.0
9     12915.0    13060.0    13640.0    13885.0    14150.0    14240.0
10     9455.0     9715.0     9860.0    10195.0    10490.0    10920.0
11     5855.0     6075.0     6370.0     6570.0     6695.0     7160.0
12     9340.0     9580.0    10160.0    10765.0    11230.0    11700.0
13    10855.0    10880.0    11335.0    11750.0    11850.0    11865.0
14     8405.0     8420.0     8690.0     9075.0     9315.0     9825.0
15     9890.0     9910.0    10140.0    10570.0    11050.0    11645.0
16     7530.0     7605.0     7760.0     7975.0     8100.0     8155.0
17     9110.0     9230.0     9525.0     9865.0    10090.0    10235.0
18     8795.0     9010.0     9420.0     9775.0    10090.0    10320.0
19    12815.0    12645.0    13140.0    13550.0    14010.0    14095.0
20    11665.0    11800.0    12325.0    12375.0    12335.0    12365.0
21     6660.0     6740.0     7125.0     7405.0     7620.0     7725.0
22     9710.0    10005.0    10830.0    11305.0    11360.0    11315.0
23     6430.0     6720.0     7120.0     7470.0     7635.0     7795.0
24     7805.0     7970.0     8310.0     8670.0     8800.0     9040.0
25     5215.0     5340.0     5635.0     5935.0     6160.0     6900.0
26     8075.0     8275.0     8615.0     8970.0     9435.0    10095.0
27    10940.0    11060.0    11630.0    12040.0    12170.0    12360.0
28    11080.0    11535.0    12265.0    12845.0    13240.0    14165.0
29     6485.0     6555.0     6770.0     6905.0     6915.0     7230.0
30     9815.0    10120.0    10670.0    11490.0    11880.0    12400.0
31     6850.0     7000.0     7120.0     7180.0     7185.0     7720.0
32    13570.0    13705.0    14615.0    15230.0    15270.0    15175.0
33    42875.0    42455.0    43975.0    45965.0    47010.0    47465.0
34        NaN        NaN        NaN        NaN        NaN        NaN
35   186420.0   188195.0   196710.0   205930.0   211365.0   216275.0
36   173345.0   175435.0   181025.0   186990.0   190950.0   196985.0
37        NaN        NaN        NaN        NaN        NaN        NaN
38    57905.0    58835.0    62100.0    63450.0    63660.0    63515.0
39   217810.0   222510.0   231680.0   235315.0   236095.0   233735.0
40   159600.0   160755.0   165605.0   167170.0   166825.0   167235.0
41   149980.0   151960.0   156650.0   158365.0   158120.0   157030.0
42   182995.0   184580.0   190160.0   191490.0   191550.0   189980.0
43   222500.0   225140.0   232185.0   236355.0   238930.0   237400.0
44   359765.0   363630.0   377735.0   392920.0   402315.0   413260.0
45   355905.0   357215.0   366680.0   372810.0   375595.0   377315.0
46   198030.0   199860.0   204795.0   207115.0   207060.0   206840.0
47        NaN        NaN        NaN        NaN        NaN        NaN
48  1904490.0  1924485.0  1987590.0  2024990.0  2040150.0  2046310.0
49    87780.0    88800.0    90760.0    91740.0    91125.0    90435.0
50   136985.0   138560.0   144205.0   149010.0   150925.0   155695.0
51    53495.0    55445.0    57660.0    60030.0    59700.0    58985.0
52        NaN        NaN        NaN        NaN        NaN        NaN
53  1992270.0  2013285.0  2078350.0  2116730.0  2131275.0  2136745.0
54  2129255.0  2151845.0  2222555.0  2265740.0  2282200.0  2292440.0
55  2182750.0  2207290.0  2280215.0  2325770.0  2341900.0  2351425.0

         2011       2012       2013       2014       2015       2016  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1     16250.0    16765.0    17775.0    19250.0    26130.0    30210.0
2      4280.0     4580.0     5055.0     5690.0     6560.0     7645.0
3     21205.0    22110.0    23135.0    24555.0    26190.0    27650.0
4      7245.0     7390.0     7830.0     8430.0     9075.0     9975.0
5     12835.0    13220.0    13915.0    14680.0    15745.0    17005.0
6     13080.0    13425.0    14065.0    14825.0    15695.0    16785.0
7     25930.0    26460.0    27530.0    29020.0    31385.0    34330.0
8     12700.0    13020.0    13515.0    14400.0    15540.0    16855.0
9     14570.0    15065.0    16310.0    17475.0    18700.0    20220.0
10    10980.0    11280.0    12065.0    13015.0    13925.0    15105.0
11     7290.0     7665.0     8320.0     8975.0    10060.0    11210.0
12    12150.0    12980.0    14180.0    16095.0    18510.0    21660.0
13    11915.0    12270.0    12850.0    13465.0    14095.0    14625.0
14    10005.0    10330.0    11020.0    11875.0    12675.0    13760.0
15    11905.0    12375.0    12970.0    14000.0    15155.0    16365.0
16     8170.0     8390.0     8865.0     9445.0    10115.0    11060.0
17    10525.0    11020.0    11630.0    12485.0    13505.0    14745.0
18    10895.0    11505.0    12230.0    13035.0    13910.0    14930.0
19    14395.0    15310.0    16850.0    18710.0    22110.0    21505.0
20    12265.0    12570.0    12985.0    13635.0    14350.0    15000.0
21     7770.0     8060.0     8130.0     8520.0     8970.0     9630.0
22    11480.0    14820.0    17925.0    20900.0    17280.0    16960.0
23     7845.0     8235.0     8885.0     9625.0    10405.0    11240.0
24     9355.0     9880.0    10560.0    11225.0    12070.0    12960.0
25     7195.0     7750.0     8540.0     9645.0    11055.0    13685.0
26    10475.0    11240.0    12085.0    13160.0    14595.0    16025.0
27    12340.0    12705.0    13065.0    13650.0    14185.0    14775.0
28    14410.0    13875.0    14580.0    15860.0    17120.0    18930.0
29     7240.0     7480.0     7805.0     8155.0     8710.0     9225.0
30    12850.0    13740.0    15030.0    16545.0    18390.0    20025.0
31     7940.0     8265.0     8970.0     9875.0    11020.0    12310.0
32    15455.0    15800.0    16550.0    17445.0    18695.0    19920.0
33    48240.0    49825.0    50915.0    53160.0    55385.0    58965.0
34        NaN        NaN        NaN        NaN        NaN        NaN
35   220385.0   230730.0   245615.0   265230.0   287585.0   310815.0
36   200800.0   208675.0   220520.0   235595.0   253725.0   274475.0
37        NaN        NaN        NaN        NaN        NaN        NaN
38    63040.0    63725.0    65890.0    68775.0    71010.0    74115.0
39   231345.0   232395.0   240075.0   249460.0   259740.0   276525.0
40   164620.0   165530.0   169980.0   176555.0   183820.0   195270.0
41   155270.0   156190.0   161105.0   167360.0   176220.0   183370.0
42   187065.0   187420.0   192130.0   198760.0   207980.0   223705.0
43   236605.0   238540.0   245430.0   254340.0   265375.0   287540.0
44   421185.0   439405.0   466135.0   500825.0   541310.0   585290.0
45   376380.0   380620.0   389710.0   403070.0   420270.0   438315.0
46   205470.0   206260.0   210315.0   215905.0   222015.0   234475.0
47        NaN        NaN        NaN        NaN        NaN        NaN
48  2040980.0  2070085.0  2140770.0  2235050.0  2347740.0  2498605.0
49    88590.0    87990.0    89750.0    92445.0    95010.0    98445.0
50   155655.0   158315.0   162230.0   167860.0   172890.0   178435.0
51    57370.0    56255.0    55780.0    55240.0    56060.0    58025.0
52        NaN        NaN        NaN        NaN        NaN        NaN
53  2129570.0  2158385.0  2230735.0  2327790.0  2442750.0  2597050.0
54  2285225.0  2316705.0  2392965.0  2495650.0  2615640.0  2775485.0
55  2342595.0  2372960.0  2448745.0  2550890.0  2671700.0  2833510.0

         2017       2018       2019
0         NaN        NaN        NaN
1     32990.0    31440.0    31550.0
2      7980.0     8100.0     8515.0
3     29845.0    29225.0    29815.0
4     10300.0    10115.0    10385.0
5     17505.0    18465.0    18605.0
6     17780.0    17845.0    17805.0
7     37510.0    38800.0    40290.0
8     17285.0    17380.0    17625.0
9     20690.0    20700.0    20885.0
10    15560.0    15655.0    16100.0
11    11640.0    11670.0    12090.0
12    23535.0    24620.0    26785.0
13    14650.0    14600.0    14915.0
14    14130.0    14210.0    14960.0
15    17275.0    17540.0    18230.0
16    11305.0    11380.0    11960.0
17    15085.0    15560.0    16025.0
18    15195.0    15030.0    15575.0
19    22295.0    23365.0    25620.0
20    15245.0    15360.0    16145.0
21     9825.0    10335.0    10195.0
22    16940.0    16225.0    16650.0
23    11605.0    11535.0    11920.0
24    13110.0    12905.0    13220.0
25    14570.0    15235.0    16145.0
26    16635.0    16750.0    17370.0
27    15105.0    15115.0    15545.0
28    19370.0    19275.0    19785.0
29     9570.0     9660.0    10050.0
30    20545.0    20795.0    21325.0
31    12755.0    13560.0    13990.0
32    20095.0    19890.0    20020.0
33    59945.0    60520.0    63980.0
34        NaN        NaN        NaN
35   323425.0   325870.0   340090.0
36   284445.0   286990.0   293985.0
37        NaN        NaN        NaN
38    75580.0    75560.0    77275.0
39   297760.0   301145.0   295340.0
40   198065.0   197660.0   201660.0
41   190090.0   188920.0   194645.0
42   230100.0   236225.0   240635.0
43   295225.0   292255.0   296945.0
44   607870.0   612860.0   634075.0
45   446665.0   449605.0   461745.0
46   239150.0   232415.0   236930.0
47        NaN        NaN        NaN
48  2580505.0  2586645.0  2639250.0
49   102890.0   105360.0   103770.0
50   181595.0   186020.0   183485.0
51    60610.0    61495.0    63815.0
52        NaN        NaN        NaN
53  2683395.0  2692005.0  2743020.0
54  2864990.0  2878025.0  2926505.0
55  2925600.0  2939520.0  2990320.0

As the structure is similiar to that of the previous sheets with survival rates except without incorrect column names, we will perform the same data cleaning process to remove empty rows and create a new dataframe with only the relevant data. To confirm, we will also check for empty values.

In [55]:
activeenterprises = activeenterprises.iloc[1:34]

print(activeenterprises)

         Code                    Area     2002     2003     2004     2005  \
1   E09000001          City of London  12715.0  12150.0  11980.0  11970.0
2   E09000002    Barking and Dagenham   3435.0   3470.0   3120.0   3190.0
3   E09000003                  Barnet  17705.0  17525.0  19655.0  19095.0
4   E09000004                  Bexley   6455.0   6530.0   6450.0   6560.0
5   E09000005                   Brent  11670.0  11800.0  11295.0  11250.0
6   E09000006                 Bromley  11475.0  11585.0  11655.0  11755.0
7   E09000007                  Camden  23660.0  22825.0  22910.0  22675.0
8   E09000008                 Croydon  11540.0  11455.0  11230.0  11130.0
9   E09000009                  Ealing  13070.0  13575.0  12830.0  12915.0
10  E09000010                 Enfield   9000.0   9085.0   9305.0   9455.0
11  E09000011               Greenwich   5540.0   5605.0   5605.0   5855.0
12  E09000012                 Hackney   9510.0   9630.0   9285.0   9340.0
13  E09000013  Hammersmith and Fulham  11875.0  11590.0  10745.0  10855.0
14  E09000014                Haringey   8775.0   8845.0   8435.0   8405.0
15  E09000015                  Harrow   9485.0   9465.0   9965.0   9890.0
16  E09000016                Havering   7390.0   7400.0   7570.0   7530.0
17  E09000017              Hillingdon   9160.0   9265.0   9170.0   9110.0
18  E09000018                Hounslow   9050.0   9070.0   8645.0   8795.0
19  E09000019               Islington  13590.0  13275.0  12625.0  12815.0
20  E09000020  Kensington and Chelsea  12880.0  12840.0  11675.0  11665.0
21  E09000021    Kingston upon Thames   6820.0   6670.0   6680.0   6660.0
22  E09000022                 Lambeth   9450.0   9855.0   9555.0   9710.0
23  E09000023                Lewisham   6420.0   6425.0   6230.0   6430.0
24  E09000024                  Merton   7865.0   8070.0   7765.0   7805.0
25  E09000025                  Newham   5535.0   5640.0   5160.0   5215.0
26  E09000026               Redbridge   7845.0   7815.0   8115.0   8075.0
27  E09000027    Richmond upon Thames  11015.0  11180.0  10855.0  10940.0
28  E09000028               Southwark  10535.0  10970.0  10730.0  11080.0
29  E09000029                  Sutton   6440.0   6455.0   6485.0   6485.0
30  E09000030           Tower Hamlets   9935.0  10120.0   9590.0   9815.0
31  E09000031          Waltham Forest   6600.0   6745.0   6805.0   6850.0
32  E09000032              Wandsworth  13525.0  14060.0  13255.0  13570.0
33  E09000033             Westminster  46070.0  45145.0  43410.0  42875.0

       2006     2007     2008     2009     2010     2011     2012     2013  \
1   12240.0  12615.0  13800.0  14895.0  15830.0  16250.0  16765.0  17775.0
2    3280.0   3455.0   3740.0   3895.0   4190.0   4280.0   4580.0   5055.0
3   18565.0  18555.0  19360.0  19920.0  20665.0  21205.0  22110.0  23135.0
4    6710.0   6835.0   6920.0   6900.0   7165.0   7245.0   7390.0   7830.0
5   11330.0  11750.0  12245.0  12475.0  12595.0  12835.0  13220.0  13915.0
6   11960.0  12430.0  12790.0  12880.0  12965.0  13080.0  13425.0  14065.0
7   22750.0  23335.0  24375.0  25175.0  25380.0  25930.0  26460.0  27530.0
8   11385.0  11715.0  11930.0  12090.0  12560.0  12700.0  13020.0  13515.0
9   13060.0  13640.0  13885.0  14150.0  14240.0  14570.0  15065.0  16310.0
10   9715.0   9860.0  10195.0  10490.0  10920.0  10980.0  11280.0  12065.0
11   6075.0   6370.0   6570.0   6695.0   7160.0   7290.0   7665.0   8320.0
12   9580.0  10160.0  10765.0  11230.0  11700.0  12150.0  12980.0  14180.0
13  10880.0  11335.0  11750.0  11850.0  11865.0  11915.0  12270.0  12850.0
14   8420.0   8690.0   9075.0   9315.0   9825.0  10005.0  10330.0  11020.0
15   9910.0  10140.0  10570.0  11050.0  11645.0  11905.0  12375.0  12970.0
16   7605.0   7760.0   7975.0   8100.0   8155.0   8170.0   8390.0   8865.0
17   9230.0   9525.0   9865.0  10090.0  10235.0  10525.0  11020.0  11630.0
18   9010.0   9420.0   9775.0  10090.0  10320.0  10895.0  11505.0  12230.0
19  12645.0  13140.0  13550.0  14010.0  14095.0  14395.0  15310.0  16850.0
20  11800.0  12325.0  12375.0  12335.0  12365.0  12265.0  12570.0  12985.0
21   6740.0   7125.0   7405.0   7620.0   7725.0   7770.0   8060.0   8130.0
22  10005.0  10830.0  11305.0  11360.0  11315.0  11480.0  14820.0  17925.0
23   6720.0   7120.0   7470.0   7635.0   7795.0   7845.0   8235.0   8885.0
24   7970.0   8310.0   8670.0   8800.0   9040.0   9355.0   9880.0  10560.0
25   5340.0   5635.0   5935.0   6160.0   6900.0   7195.0   7750.0   8540.0
26   8275.0   8615.0   8970.0   9435.0  10095.0  10475.0  11240.0  12085.0
27  11060.0  11630.0  12040.0  12170.0  12360.0  12340.0  12705.0  13065.0
28  11535.0  12265.0  12845.0  13240.0  14165.0  14410.0  13875.0  14580.0
29   6555.0   6770.0   6905.0   6915.0   7230.0   7240.0   7480.0   7805.0
30  10120.0  10670.0  11490.0  11880.0  12400.0  12850.0  13740.0  15030.0
31   7000.0   7120.0   7180.0   7185.0   7720.0   7940.0   8265.0   8970.0
32  13705.0  14615.0  15230.0  15270.0  15175.0  15455.0  15800.0  16550.0
33  42455.0  43975.0  45965.0  47010.0  47465.0  48240.0  49825.0  50915.0

       2014     2015     2016     2017     2018     2019
1   19250.0  26130.0  30210.0  32990.0  31440.0  31550.0
2    5690.0   6560.0   7645.0   7980.0   8100.0   8515.0
3   24555.0  26190.0  27650.0  29845.0  29225.0  29815.0
4    8430.0   9075.0   9975.0  10300.0  10115.0  10385.0
5   14680.0  15745.0  17005.0  17505.0  18465.0  18605.0
6   14825.0  15695.0  16785.0  17780.0  17845.0  17805.0
7   29020.0  31385.0  34330.0  37510.0  38800.0  40290.0
8   14400.0  15540.0  16855.0  17285.0  17380.0  17625.0
9   17475.0  18700.0  20220.0  20690.0  20700.0  20885.0
10  13015.0  13925.0  15105.0  15560.0  15655.0  16100.0
11   8975.0  10060.0  11210.0  11640.0  11670.0  12090.0
12  16095.0  18510.0  21660.0  23535.0  24620.0  26785.0
13  13465.0  14095.0  14625.0  14650.0  14600.0  14915.0
14  11875.0  12675.0  13760.0  14130.0  14210.0  14960.0
15  14000.0  15155.0  16365.0  17275.0  17540.0  18230.0
16   9445.0  10115.0  11060.0  11305.0  11380.0  11960.0
17  12485.0  13505.0  14745.0  15085.0  15560.0  16025.0
18  13035.0  13910.0  14930.0  15195.0  15030.0  15575.0
19  18710.0  22110.0  21505.0  22295.0  23365.0  25620.0
20  13635.0  14350.0  15000.0  15245.0  15360.0  16145.0
21   8520.0   8970.0   9630.0   9825.0  10335.0  10195.0
22  20900.0  17280.0  16960.0  16940.0  16225.0  16650.0
23   9625.0  10405.0  11240.0  11605.0  11535.0  11920.0
24  11225.0  12070.0  12960.0  13110.0  12905.0  13220.0
25   9645.0  11055.0  13685.0  14570.0  15235.0  16145.0
26  13160.0  14595.0  16025.0  16635.0  16750.0  17370.0
27  13650.0  14185.0  14775.0  15105.0  15115.0  15545.0
28  15860.0  17120.0  18930.0  19370.0  19275.0  19785.0
29   8155.0   8710.0   9225.0   9570.0   9660.0  10050.0
30  16545.0  18390.0  20025.0  20545.0  20795.0  21325.0
31   9875.0  11020.0  12310.0  12755.0  13560.0  13990.0
32  17445.0  18695.0  19920.0  20095.0  19890.0  20020.0
33  53160.0  55385.0  58965.0  59945.0  60520.0  63980.0

In [ ]:
print(activeenterprises.isnull().sum())
print(activeenterprises.isna().sum())

In [69]:
# Convert the headers from integers to string
activeenterprises.columns = activeenterprises.columns.map(str)

print(activeenterprises.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 1 to 33
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Code    33 non-null     object
 1   Area    33 non-null     object
 2   2002    33 non-null     float64
 3   2003    33 non-null     float64
 4   2004    33 non-null     float64
 5   2005    33 non-null     float64
 6   2006    33 non-null     float64
 7   2007    33 non-null     float64
 8   2008    33 non-null     float64
 9   2009    33 non-null     float64
 10  2010    33 non-null     float64
 11  2011    33 non-null     float64
 12  2012    33 non-null     float64
 13  2013    33 non-null     float64
 14  2014    33 non-null     float64
 15  2015    33 non-null     float64
 16  2016    33 non-null     float64
 17  2017    33 non-null     float64
 18  2018    33 non-null     float64
 19  2019    33 non-null     float64
dtypes: float64(18), object(2)
memory usage: 5.3+ KB
None

As the births are in float, we can convert them to integers as it makes more sense based on the context of the data.

In [70]:
for i in range (2002, 2020):
    activeenterprises[str(i)] = activeenterprises[str(i)].astype(int)

print(activeenterprises.head(5))

        Code                  Area   2002   2003   2004   2005   2006   2007  \
1  E09000001        City of London  12715  12150  11980  11970  12240  12615
2  E09000002  Barking and Dagenham   3435   3470   3120   3190   3280   3455
3  E09000003                Barnet  17705  17525  19655  19095  18565  18555
4  E09000004                Bexley   6455   6530   6450   6560   6710   6835
5  E09000005                 Brent  11670  11800  11295  11250  11330  11750

    2008   2009   2010   2011   2012   2013   2014   2015   2016   2017  \
1  13800  14895  15830  16250  16765  17775  19250  26130  30210  32990
2   3740   3895   4190   4280   4580   5055   5690   6560   7645   7980
3  19360  19920  20665  21205  22110  23135  24555  26190  27650  29845
4   6920   6900   7165   7245   7390   7830   8430   9075   9975  10300
5  12245  12475  12595  12835  13220  13915  14680  15745  17005  17505

    2018   2019
1  31440  31550
2   8100   8515
3  29225  29815
4  10115  10385
5  18465  18605

Now, as the data is prepared, we will save the edited file as a new Excel sheet.

In [73]:
# Save only the relevant sheets (maybe try diff file for each set of sheets)
with pd.ExcelWriter('data/prepared_data.xlsx') as writer:  
    activeenterprises.to_excel(writer, sheet_name='Active Enterprises by Year')
    for i in range(2002, 2019):
        survivalrates[str(i)].to_excel(writer, sheet_name= str(i) + ' Survival Rates')